.detrust_pie {
  width: var(--detrust-w);
  height: var(--detrust-w);
  font-size: var(--detrust-f);
  color: var(--detrust-title);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
  vertical-align: top;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }

  &:before {
    inset: 0;
    background: radial-gradient(farthest-side, var(--detrust-c) 98%, #0000)
        top/var(--detrust-b) var(--detrust-b) no-repeat,
      conic-gradient(var(--detrust-c) calc(var(--detrust-p) * 1%), #0000 0);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--detrust-b)),
      #000 calc(100% - var(--detrust-b))
    );
    mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--detrust-b)),
      #000 calc(100% - var(--detrust-b))
    );
  }

  &:after {
    inset: calc(50% - var(--b) / 2);
    background: var(--c);
    transform: rotate(calc(var(--p) * 3.6deg))
      translateY(calc(50% - var(--w) / 2));
  }

  .tooltip {
    position: absolute;
    bottom: 100%;
    background-color: var(--detrust-bgc);
    border: 1px solid var(--detrust-text);
    color: var(--detrust-title);
    border-radius: 6px;
    z-index: 10;
    padding: 8px;
    font-weight: 400;
    text-align: start;
    opacity: 0;
    transition-property: opacity;
    pointer-events: none;
  }

  &:hover .tooltip {
    opacity: 1;
  }

  .tooltip::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--detrust-bgc);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid var(--detrust-text);
    border-right: 1px solid var(--detrust-text);
  }
}

.detrust_degen_note {
  font-size: 14px;
  font-weight: 400;
}

.detrust_popup {
  border-radius: 16px;
  padding: 16px;
  background-color: var(--detrust-bgc);
  box-shadow: var(--detrust-shadow);
  color: var(--detrust-text);
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0s;
  pointer-events: none;
  font-family: 'TwitterChirp', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;

  &[data-show] {
    opacity: 1;
    pointer-events: all;
    transition-delay: 0.5s;
  }

  &[data-hide] {
    animation: popup 0.3s linear;
  }

  @keyframes popup {
    0% {
      pointer-events: all;
    }
    99% {
      pointer-events: all;
    }
    100% {
      pointer-events: none;
    }
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;

    :hover {
      text-decoration: underline;
    }
  }

  .title {
    color: var(--detrust-title);
    font-size: 20px;
    font-weight: 700;
  }

  .title_line,
  .score_line {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .title_line {
    margin-bottom: 14px;
  }

  .score_line {
    margin-bottom: 8px;
  }

  .detrust-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .detrust-button {
    color: white;
    width: 40%;
    height: 30px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: 16px;

    &-buy {
      background-color: #12b76a;
    }

    &-sell {
      background-color: #f04438;
    }
  }
}
