.detrust_pie {
  width: var(--detrust-w);
  height: var(--detrust-w);
  font-size: var(--detrust-f);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
  vertical-align: top;
  top: 2px;
  cursor: pointer;
}

.detrust_pie:before,
.detrust_pie:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.detrust_pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--detrust-c) 98%, #0000)
      top/var(--detrust-b) var(--detrust-b) no-repeat,
    conic-gradient(var(--detrust-c) calc(var(--detrust-p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--detrust-b)),
    #000 calc(100% - var(--detrust-b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--detrust-b)),
    #000 calc(100% - var(--detrust-b))
  );
}

.detrust_pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg))
    translateY(calc(50% - var(--w) / 2));
}

.detrust_popup {
  border-radius: 16px;
  padding: 16px;
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
    rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
  font-size: 16px;
  color: rgb(139, 152, 165);
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.5s;
  pointer-events: none;
}

.detrust_popup[data-show] {
  opacity: 1;
  pointer-events: all;
}

.detrust_popup[data-hide] {
  animation: popup 0.7s linear;
}

@keyframes popup {
  0% {
    pointer-events: all;
  }
  70% {
    pointer-events: all;
  }
  100% {
    pointer-events: none;
  }
}

.detrust_popup .title {
  color: rgb(247, 249, 249);
  font-size: 20px;
  font-weight: 700;
}

.detrust_popup.detrust_popup_white {
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  color: rgb(83, 100, 113);
}

.detrust_popup.detrust_popup_white .title {
  color: rgb(15, 20, 25);
}

.detrust_popup.detrust_popup_black {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
  color: rgb(113, 118, 123);
}

.detrust_popup.detrust_popup_black .title {
  color: rgb(231, 233, 234);
}
